<script src="/socket.io/socket.io.js"></script>
<script>
    var shelter_idx;
    var socket = io();

    io.on('connection', function (_socket) {
        _socket.on('message', function (_msg) {
            var message = JSON.parse(_msg);
            console.log(message);
            newMessage(0, message.message);
            // 여기서 없을 때 있을 때 구분해서 한다.
        });
    });

    $.ajax({
        url: "/erp/chat/json/getShelterIdx",
        method: "POST",
        data: {},
        success: function (data) {
            shelter_idx = data.shelter_idx;
            var message = {
                type: "shelter",
                idx: shelter_idx
            }
            socket.emit('participate', JSON.stringify(message)); // 들어왔다고 통보.
        }
    });



</script>

<script>$(".messages").animate({ scrollTop: $(document).height() }, "fast");

    $("#profile-img").click(function () {
        $("#status-options").toggleClass("active");
    });

    $(".expand-button").click(function () {
        $("#profile").toggleClass("expanded");
        $("#contacts").toggleClass("expanded");
    });

    $("#status-options ul li").click(function () {
        $("#profile-img").removeClass();
        $("#status-online").removeClass("active");
        $("#status-away").removeClass("active");
        $("#status-busy").removeClass("active");
        $("#status-offline").removeClass("active");
        $(this).addClass("active");

        if ($("#status-online").hasClass("active")) {
            $("#profile-img").addClass("online");
        } else if ($("#status-away").hasClass("active")) {
            $("#profile-img").addClass("away");
        } else if ($("#status-busy").hasClass("active")) {
            $("#profile-img").addClass("busy");
        } else if ($("#status-offline").hasClass("active")) {
            $("#profile-img").addClass("offline");
        } else {
            $("#profile-img").removeClass();
        };

        $("#status-options").removeClass("active");
    });

    function newMessage(_type, _message) {
        type = _type == 1 ? "sent" : "replies";
        $('<li class="' + type + '"><p>' + _message + '</p></li>').appendTo($('.messages ul'));
        //$('.contact.active .preview').html('<span>You: </span>' + message);
        $(".messages").animate({ scrollTop: $(document).height() }, "fast");
    };

    function sendMessage() {
        var message = $(".message-input input").val();
        if ($.trim(message) == '') {
            return false;
        }
        newMessage(1, message);
        $('.message-input input').val(null);

        var socektMessage = {
            type: "1",
            user_idx: mSelected_user_idx,
            shelter_idx: shelter_idx,
            message: message
        }
        socket.emit('message', JSON.stringify(socektMessage));
    }
    $('.submit').click(sendMessage);

    $(window).on('keydown', function (e) {
        if (e.which == 13) {
            sendMessage();
            return false;
        }
    });
//# sourceURL=pen.js
</script>