<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <h1 class="display-4 font-weight-bold">Care Me</h1>
        <p class="lead">저희는 보호소에게 관리프로그램을 제공해주고 사용자들에게는 어플을 제공해 개인적으로 보호소와 연결해 봉사를 할 수 있도록 해줍니다.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
</header>
