<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="mainCntainer">
        <h1 class="display-4 font-weight-bold">Care Me</h1>
        <p class="lead">저희는 보호소에게 관리프로그램을 제공해주고 사용자들에게는 어플을 제공해 개인적으로 보호소와 연결해 봉사를 할 수 있도록 해줍니다.</p>
        <hr class="my-4">
        <p></p>
    </div>
</header>

<!-- First Grid -->

<div class="row featurette">
    <div class="col-md-6 order-md-2 text-center text-sec" style="padding-left: 0;">
        <h1 class="featurette-heading">Real Time Communication </h1></p>
        <h3><span class="text-muted">Contact the closest animal shelter</span></h3>
        <p class="lead">유기견 발견시 실시간으로 가장 인접한 유기견 보호소와 </p> 매칭 및 채팅 서비스를 제공합니다.</p>
    </div>
    <div class="col-md-4 order-md-1 img-sec" style="padding-right: 0">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="/images/bordeaux-1351665_1920.jpg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
            <rect width="100%" height="100%" fill="#eee" />
        </svg> -->
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="height: 400" src="/images/img2.png">
    </div>
</div>


<!-- Second Grid -->
<!-- <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
        </div>

        <div class="w3-twothird">
            <h1>Lorem Ipsum</h1>
            <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </h5>

            <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div> -->