.searchShelter-selected{
    background-color: #888888;
}
.searchAnimal-selected{
    background-color: #888888;
}

.searchSpecies-selected{
    background-color: #888888;
}

.searchState-selected{
    background-color: #888888;
}

