<div class="row" style="margin-top: 100px;">
    <div class="col-xl-12">
        <div class="breadcrumb-holder" style="text-align: center">
            <h1 class="main-title">입양신청서 작성</h1>
            <h3 style="padding: 100px">
                <p>귀하의 입양신청에 감사드립니다. 현재 입양대상인 아이들은 유기, 방임, 학대 등 많은 시련과 고통을 겪었습니다. 이 아이들을 반려동물로 맞이하여 가족처럼 사랑으로 평생을 책임져주실 가족을
                    찾습니다. 미성년자|대학생의 경우 부모님 동의하에 입양 신청이 가능하며, 신청서는 부모님께서 직접 작성하셔야 합니다.
                </p>
                <p>
                    신청서 접수 후, 서류심사가 진행됩니다. 입양을 원하시는 아이들의 특성을 고려하여 입양조건에 부합하시는 신청자님들께는 일주일 내로 연락을 드립니다. 전화 인터뷰 진행 후 종합적인 판단에 따라 입양이 결정됩니다. 입양에
                    관한 질문들은 1234@naver.com 로 이메일을 보내주십시오.
                </p>
                <p>
                    공지사항: 국내 입양비용은 ₩150,000원입니다. 입양비용은 도움이 필요한 개인구조자|단체에 후원됩니다. (구조에 소요 된 실비 일부를 제외 할 수 있음. 입양 후 중성화|마이크로칩 필수.)
                </p>
                <p>
                    개인정보 보호정책: 귀하의 개인정보는 반려동물 입양을 위한 신청자 검토의 목적으로만 사용됩니다. 신청자의 신청정보는 절대로 공유되지 않습니다.
                </p>
            </h3>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div>
    <form id="form-adoptRegister" name="form-adoptRegister" method="post">
        <label for="exampleFormControlInput1">아이디</label>
        <div class="input-group mb-3">
            <input disabled type="text" class="form-control" id="adoptId" name="adoptId" aria-label="adoptId">
            <div class="input-group-append">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalAdoptLogin">로그인</button>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">성명</label>
            <input type="text" class="form-control" id="adoptName" name="adoptName" aria-label="adoptName">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">주소</label>
            <div class="input-group mb-3">
                <input id="adoptAddress" type="text" name="position" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2"
                    readonly>
                <div class="input-group-append">
                    <button type="button" class="btn btn-dark" onclick="getPosition();">주소 찾기</button>
                </div>
            </div>
            <input type="text" class="form-control" id="adoptAddress2" name="position2" aria-label="address">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">전화번호</label>
            <input type="text" class="form-control" id="adoptPhoneNumber" name="adoptPhoneNumber" aria-label="number">
        </div>
        <label for="exampleFormControlInput1">입양할 보호소를 선택하여 주세요</label>
        <div class="input-group mb-3">
            <input disabled type="text" class="form-control" id="shelterName" name="name" aria-label="name">
            <div class="input-group-append">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalSearchShelter">
                    <i class="fa fa-search" style="font-size:20px"></i>
                </button>
            </div>
        </div>
        <label for="exampleFormControlInput1">희망하는 유기견을 선택하여 주세요</label>
        <div class="input-group mb-3">
            <input disabled type="text" class="form-control" id="animalName" name="name" aria-label="name">
            <div class="input-group-append">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalSearchAniaml">
                    <i class="fa fa-search" style="font-size:20px"></i>
                </button>
            </div>
        </div>
        <div class="form-group">
            <label class="my-1 mr-2" for="adoptRelation">신청인과의 관계</label>
            <select class="custom-select my-1 mr-sm-2" id="adoptRelation">
                <option selected>Choose...</option>
                <option value="1">부모님</option>
                <option value="2">배우자</option>
                <option value="3">형제.자매</option>
                <option value="4">친척</option>
                <option value="5">친구</option>
                <option value="6">직장동료</option>
            </select>
        </div>
        <div class="form-group">
            <label class="my-1 mr-2" for="adoptHouse">신청인의 주거형태</label>
            <select class="custom-select my-1 mr-sm-2" id="adoptHouse">
                <option selected>Choose...</option>
                <option value="1">아파트</option>
                <option value="2">전원주택</option>
                <option value="3">원룸</option>
                <option value="4">오피스텔</option>
            </select>
        </div>
        <div class="form-group">
            <label class="my-1 mr-2" for="adoptAnimlaPlace">유기견이 지낼곳은?</label>
            <select class="custom-select my-1 mr-sm-2" id="adoptAnimlaPlace">
                <option selected>Choose...</option>
                <option value="1">회사</option>
                <option value="2">집안</option>
                <option value="3">마당</option>
            </select>
        </div>
        <div class="form-group">
            <fieldset>
                <label for="exampleFormControlSelect1">전원주택일 경우 뒷마당 또는 앞마당에 담이 설치되있습니까?</label>
                <br>
                <input type="radio" name="adoptBack" id="adoptBack" value="y" /> 네
                <input type="radio" name="adoptBack" id="adoptBack" value="n" /> 아니오
            </fieldset>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">이메일</label>
            <input type="text" class="form-control" id="adoptEmail" name="email" aria-label="email">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">신분증 번호</label>
            <input type="text" class="form-control" id="adoptIdNumber" name="adoptIdNumber" aria-label="adoptIdNumber">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">직업</label>
            <input type="text" class="form-control" id="adoptJob" name="adoptJob" aria-label="adoptJob">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">소셜미디어 아이디</label>
            <input type="text" class="form-control" id="adoptSocialId" name="adoptSocialId" aria-label="adoptSocialId">
        </div>
        <div class="form-group">
            <label for="comment">주거의 형태가 아파트또는 원룸일 경우 유기견은 소변과 대변을 어디서 보는지요?</label>
            <textarea class="form-control" id="adoptPlaceType" name="adoptPlaceType" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="comment">가족소개</label>
            <textarea class="form-control" id="adoptFamily" name="adoptFamily" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label class="my-1 mr-2" for="adoptResponsible">유기견을 책임지실 분</label>
            <select class="custom-select my-1 mr-sm-2" id="adoptResponsible">
                <option selected>Choose...</option>
                <option value="1">본인</option>
                <option value="2">배우자</option>
                <option value="3">형제자매</option>
                <option value="4">자녀</option>
                <option value="5">부모님</option>
                <option value="6">친구</option>
            </select>
        </div>
        <div class="form-group">
            <label for="comment">본인에게 강아지는 어떤 의미인가요?</label>
            <textarea class="form-control" id="adoptMeanDog" name="adoptMeanDog" rows="4"></textarea>
        </div>
        <div class="form-group">
            <fieldset>
                <label for="exampleFormControlSelect1">여분의 주의가 필요한 학대 또는 방임의 일부 형태를 경험을한 유기견을 입양할 의향이 있습니까?
                </label>
                <br>
                <input type="radio" name="adoptPurpose1" id="adoptPurpose1" value="y" /> 네
                <input type="radio" name="adoptPurpose1" id="adoptPurpose1" value="n" /> 아니오
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label for="exampleFormControlSelect1">특별한 치료가 필요한 유기견을 입양할 의향이 있습니까? </label>
                <br>
                <input type="radio" name="adoptPurpose2" id="adoptPurpose2" value="y" /> 네
                <input type="radio" name="adoptPurpose2" id="adoptPurpose2" value="n" /> 아니오
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label for="exampleFormControlSelect1">과거에 키운 애완동물이 있습니까? </label>
                <br>
                <input type="radio" name="adoptExperience" value="y" /> 네
                <input type="radio" name="adoptExperience" value="n" /> 아니오
            </fieldset>
        </div>
        <div class="form-group">
            <label class="my-1 mr-2" for="adoptWithAnimal">현재 반려동물을 키우고 계십니까? </label>
            <select class="custom-select my-1 mr-sm-2" id="adoptWithAnimal">
                <option selected>Choose...</option>
                <option value="1">강아지</option>
                <option value="2">고양이</option>
                <option value="3">토끼</option>
                <option value="4">새</option>
                <option value="5">거북이</option>
                <option value="6">물고기</option>
            </select>
        </div>
        <div class="form-group">
            <label for="comment">애완동물을 키운 종류와 수는? </label>
            <textarea class="form-control" id="adoptNumberDog" name="adoptNumberDog" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="comment">과거에 키운 애완동물을 다른 식구 및 친구에게 보내셨는지요? </label>
            <textarea class="form-control" id="adoptSendDog" name="adoptSendDog" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="comment">입양동물이 짖음, 배변실수, 분리불안, 어지럽히기, 기존강아지와의 트러블을 일으킬 수 있습니다. 이점에 대해서 어떻게 생각하시나요? * </label>
            <textarea class="form-control" id="adoptBenefitDog" name="adoptBenefitDog" rows="4"></textarea>
        </div>
        <div class="form-group">
            <fieldset>
                <label for="exampleFormControlSelect1">입양동물에 필요한 치료와 케어 금액에 대해서 아시고 계십니까? *

                </label>
                <br>
                <input type="radio" name="adoptCarePay" id="adoptCarePay" value="y" /> 네
                <input type="radio" name="adoptCarePay" id="adoptCarePay" value="n" /> 아니오
            </fieldset>
        </div>
        <div class="form-group">
            <label for="comment">입양동물이 동물병원을 방문 할 주기와 방문목적을 작성해주세요. </label>
            <textarea class="form-control" id="adoptVisitPurpose" name="adoptVisitPurpose" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="comment">입양동물에 필요한 치료 및 검진 예상금액은? </label>
            <textarea class="form-control" id="adoptPreditFee" name="adoptPreditFee" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="comment">입양동물과 하루를 어떻게 보내실 예정입니까? </label>
            <textarea class="form-control" id="adoptLifeDog" name="adoptLifeDog" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="comment">여행/특별한 일정으로 집을 비우게 될 시 반려동물은 어떻게 지내게됩니까?</label>
            <textarea class="form-control" id="adoptEmptyDog" name="adoptEmptyDog" rows="4"></textarea>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>* 성명서 </h5>
            </div>
            <div class="card-body">
                <p>상기 동물을 입양함에있어 아래의 사항에 서약합니다. 입양동물을 매매하거나 버리지 않고 평생 성실히 관리하겠습니다. 적합한 사료급여, 운동, 휴식, 수면 및 치료등등 필요한 사항을 이행하겠으며,
                    어떠한 경우에도 유기를 하지 않겠습니다.</p>

                <p>입양동물의 대한 확인 전화 또는 이메일에 성실히 답변하고 동물보호에 노력하겠습니다. Care Me 및 시보호소 봉사팀이 지속적인 모니터링을 할 수 있어야 합니다. 입양된 유기동물로 인하여
                    발생되는 모든 사고에 민형사상의 책임을 지겠습니다. 입양 후 입양 동물에게 있을지 모를 질병 확인 및 치료를 위해 반드시 동물병원에서 검진을 받도록 하겠습니다. Care me 및 해당
                    동물의 보호소에 책임과 부담은 없습니다. 입양동물에 발생하는 모든 질병 및 치료에 대한 책임과 부담은 입양자에게 있으며 건강검진 및 필요한 치료를 성실히 수행하겠습니다.</p>
                <p>
                    동물 보호법 제7조 (동물학대 등의 금지)
                    <br> 1. 잔인한 방법으로 죽이는 행위등 농림부령이 정하는 정당한 사유없이 죽이는 행위를 하여서는 아니된다.
                    <br> 2. 누구든지 동물에 대하여 학대 행위를 하여서는 아니된다.
                    <br> 3. 소유자등은 동물을 유기하여서는 아니된다.
                    <br> 제25조: 제7조에 해당하는 위반행위를 한 자는 500만원 이하의 벌금에 처한다.
                    <br> 제26조: 인식표를 부착시키지 아니한 자, 안전조치를 하지 아니하거나 배설물을 수거하지 아니한 자는 50만원 이하의 과태료에 처한다.
                    <br> 동물을 학대할경우: 개정동물보호법 제8조 - 징역 1년이하 또는 천만원 이하의 벌금형에 처한다.
                </p>
                <div>
                    <input type="checkbox" class="form-check-input" id="adoptConfirm1">
                    <label class="form-check-label" for="dropdownCheck">
                        동의합니다.
                    </label>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="example-datetime-local-input" class="col-1 col-form-label">신청 날짜:</label>
            <div>
                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="adoptApplyDate">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="exampleFormControlInput1">전자 서명 행위 (E-Sign Act of 2000)</label>
            <input type="text" class="form-control" id="adoptSign" name="adoptSign" aria-label="adoptSign">
        </div>
        </br>
        <div class="form-group">
            <b>* 본인은 본인의 서명이며 모든 정보가 정확하고 사실임을 증명합니다.</b>
            </p>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="adoptConfirm2">
                <label class="form-check-label" for="dropdownCheck">
                    동의합니다.
                </label>
            </div>
        </div>
        <div class="form-group">
            <b>* 본인은 Care Me 입양신청 개인정보 처리에 동의합니다.
            </b>
            </p>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="adoptConfirm3">
                <label class="form-check-label" for="dropdownCheck">
                    동의합니다.
                </label>
            </div>
        </div>
    </form>
    <div class="form-footer">
        <button type="button" class="btn btn-primary" onclick="submit_adopt()">신청하기</button>
    </div>
</div>

<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

<script>
    function submit_adopt() {
        form_ajax();
        //localStorage.clear();
    }
    function form_ajax() {
        var form = $('#form-adoptRegister')[0];
        var formData = new FormData(form);
        $.ajax({
            url: '/adoptRegister/action/addAdopt',
            type: 'POST',
            enctype: 'multipart/form-data',
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                alert("정상적으로 등록이 되었습니다.");
                window.location.href = "/";
            }
        })
    }
    /*
        도로명 주소 입력받는 함수.(daum api)
    */
    function getPosition() {
        new daum.Postcode({
            oncomplete: function (data) {
                document.getElementById("adopterAddress").value = data.roadAddress; // 도로명 주소 입력.
            }
        }).open();
    }
</script>

<% include ./../modal/searchAnimalModal.ejs %>
    <% include ./../modal/searchShelterModal.ejs %>
        <% include ./../modal/adoptLoginModal.ejs %>