<!-- 발견장소 위치 모달-->
<div class="modal fade modal-calender" id="animalSchedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="height:auto; width:auto;" role="document">
        <div class="modal-content" style="height:auto; width:auto;">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">유기견 스케줄</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="card-box tilebox-one noradius">
                        <div id='external-events'>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="card-box tilebox-one noradius">
                        <div id="calendar"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on('click', '.btn-calendar', function (e) {
        showCalendar();
    });
</script>