<div class="modal fade" id="modalSearchShelter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">보호소명을 선택해 주세요</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clear_result()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputID">보호소명</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="shelter_name_input" name="shelter_id" placeholder="보호소명을 입력해주세요" aria-label="검색할 보호소 이름" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="findButton" onclick="getShelterList()">찾기</button>
                            </div>
                        </div>
                    </div>
                    <input type="text" id="tmpStorage" style="display:none;">
                    <table class="table table-striped table-bordered" id="table-body">

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clear_result()">닫기</button>
                    <button type="button" class="btn btn-primary add_id" onclick="register_shelter()" data-dismiss="modal">완료</button>
                </div>
        </div>
    </div>
</div>

<script>
    cssLoader('/stylesheets/searchShelterModal.css')
    $('#shelter_name_input').keydown(function (e) {
        if (e.keyCode == 13) {
            getShelterList();
            return false;
        }
    })
    function getShelterList() {
        var inputText = document.getElementById("shelter_name_input").value;

        $.ajax({
            url: '/erp/search/json/searchShelterByName',
            type: 'POST',
            data: {
                text: inputText,
            },
            success: function (data) {
                $('#table-body').html('');
                $.each(data.shelter, function (idx, shelter) {
                    var text = '<tr class="searchShelter-list">'+
                        '<th><span class="shelter_idx" style="display: none;">'+shelter.idx+'</span>'+shelter.name+'</th></tr>';
                    $('#table-body').append(text);
                })
            }
        })
    }
    function register_shelter() {
        //selected가 없으면 선택하시오 alert
        var selected= $('.searchShelter-selected')[0];
        if(selected === undefined) {
           alert("검색 안했음");
           return;
        }
        //shelterName에 값 추가
        var name = selected.innerText;
        $('#shelterName').val(name);
        //modal 초기화
        clear_result();
    }
    function clear_result(){
        setTimeout(1000);
        $('#table-body').html("");
    }
    $(document).on('click','.searchShelter-list',function(){
        //console.log(this);
        var selected= $('.searchShelter-selected')[0];

        if(selected !== undefined) {
            $(selected).removeClass('searchShelter-selected');
        }
        if(!$(this).hasClass('searchShelter-selected')) {
            $(this).addClass('searchShelter-selected');
            var tmp = $(this).find('span')[0].innerHTML;
            //console.log(tmp);
            //localStorage.setItem('shelter_idx', tmp); //local storage 에 shelter idx 저장 -> 이걸로 animal search
            $('#shelterIdx').val(tmp);
            //local storage ->
        }
    });
</script>