<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">유기동물 입양신청 관리</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">유기동물 입양신청 관리</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <ul class="nav nav-tabs">
        <li class="active nav-item">
            <a class="nav-link" data-toggle="tab" href="#adopt_applyList">입양 신청자</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#adopt_permittedList">승인된 입양자</a>
        </li>
    </ul>
</div>


<div class="row" style="margin-top:20px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="table-responsive">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="adopt_applyList" style="margin-top:20px">
                        <table class="table table-bordered table-hover display">
                            <thead>
                                <tr>
                                    <th scope="col">idx</th>
                                    <th scope="col">입양신청날짜</th>
                                    <th scope="col">입양지원자이름</th>
                                    <th scope="col">성별</th>
                                    <th scope="col">핸드폰번호</th>
                                    <th scope="col">이메일</th>
                                    <th scope="col">read_state</th>
                                    <th scope="col">animal_idx</th>
                                    <th scope="col">animalName</th>
                                    <th scope="col">species_code</th>
                                    <th scope="col" style="width: 10%;">permission</th>
                                </tr>
                            </thead>
                            <tbody id="adopt_waiting">
                            </tbody>
                        </table>
                    </div>
                    <div class="ui segment tab-pane fade" id="adopt_permittedList" style="margin-top:20px">
                        <table class="table table-bordered table-hover display">
                            <thead>
                                <tr>
                                    <th scope="col">idx</th>
                                    <th scope="col">허가날짜</th>
                                    <th scope="col">픽업날짜</th>
                                    <th scope="col">입양자 이름</th>
                                    <th scope="col">폰번호</th>
                                    <th scope="col">이메일</th>
                                    <th scope="col">animal_idx</th>
                                    <th scope="col">animalName</th>
                                    <th scope="col">species_code</th>
                                </tr>
                            </thead>
                            <tbody id="adopt_permit">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>