<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">유기동물 입양신청 관리</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">유기동물 입양신청 관리</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-wait-tab" data-toggle="tab" href="#adopt_applyList" role="tab" aria-controls="nav-wait"
            aria-selected="true">입양 신청자</a>
        <a class="nav-item nav-link" id="nav-permit-tab" data-toggle="tab" href="#adopt_permittedList" role="tab" aria-controls="nav-permit"
            aria-selected="false">승인된 입양자</a>
    </div>
</nav>


<div class="row" style="margin-top:20px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">검색</span>
                        </div>
                        <input type="text" class="form-control" placeholder="search..." aria-label="Username" aria-describedby="basic-addon1" id="volunteer_search">
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="adopt_applyList" style="margin-top:20px">
                        <table class="table table-bordered table-hover display">
                            <thead>
                                <tr>
                                    <th scope="col">번호</th>
                                    <th scope="col">입양신청날짜</th>
                                    <th scope="col">입양지원자이름</th>
                                    <th scope="col">성별</th>
                                    <th scope="col">핸드폰번호</th>
                                    <th scope="col">이메일</th>
                                    <th scope="col">read_state</th>
                                    <th scope="col">animal_idx</th>
                                    <th scope="col">animalName</th>
                                    <th scope="col">species_code</th>
                                    <th scope="col" style="width: 10%;">permission</th>
                                </tr>
                            </thead>
                            <tbody id="adopt_waiting">
                            </tbody>
                        </table>
                    </div>
                    <div class="ui segment tab-pane fade" id="adopt_permittedList" style="margin-top:20px">
                        <table class="table table-bordered table-hover display">
                            <thead>
                                <tr>
                                    <th scope="col">번호</th>
                                    <th scope="col">허가날짜</th>
                                    <th scope="col">픽업날짜</th>
                                    <th scope="col">입양자 이름</th>
                                    <th scope="col">폰번호</th>
                                    <th scope="col">이메일</th>
                                    <th scope="col">animal_idx</th>
                                    <th scope="col">유기견명</th>
                                    <th scope="col">견종</th>
                                </tr>
                            </thead>
                            <tbody id="adopt_permit">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>