<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">유기동물 입양신청 관리</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">유기동물 입양신청 관리</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-wait-tab" data-toggle="tab" href="#adopt_applyList" role="tab" aria-controls="nav-wait"
            aria-selected="true">입양 신청자</a>
        <a class="nav-item nav-link" id="nav-permit-tab" data-toggle="tab" href="#adopt_permittedList" role="tab" aria-controls="nav-permit"
            aria-selected="false">승인된 입양자</a>
    </div>
</nav>


<div class="row" style="margin-top:20px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">검색</span>
                        </div>
                        <input type="text" class="form-control" placeholder="search..." aria-label="Username" aria-describedby="basic-addon1" id="adopt_search">
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="adopt_applyList" style="margin-top:20px">
                        <table class="table table-bordered table-hover display" id="adopt_waitTable" style="text-align: center">
                            <thead>
                                <tr>
                                    <th scope="col">신청번호</th>
                                    <th scope="col">유기견 이름</th>
                                    <th scope="col">입양신청날짜</th>
                                    <th scope="col">입양신청자 이름</th>
                                    <th scope="col">핸드폰 번호</th>
                                    <th scope="col">이메일</th>
                                    <th scope="col">입양 신청서 확인</th>
                                    <th scope="col" style="width: 10%;">허가/거부</th>
                                </tr>
                            </thead>
                            <tbody id="adopt_waiting">
                            </tbody>
                        </table>
                    </div>
                    <div class="ui segment tab-pane fade" id="adopt_permittedList" style="margin-top:20px">
                        <table class="table table-bordered table-hover display" id="adopt_permitTable" style="text-align: center">
                            <thead>
                                <tr>
                                    <th scope="col">신청번호</th>
                                    <th scope="col">유기견 이름</th>
                                    <th scope="col">입양신청날짜</th>
                                    <th scope="col">입양자 이름</th>
                                    <th scope="col">핸드폰 번호</th>
                                    <th scope="col">이메일</th>
                                    <th scope="col">입양 신청서 확인</th>
                                </tr>
                            </thead>
                            <tbody id="adopt_permit">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function getAdoptList() {
        $.ajax({
            url: "/erp/adopt/json/getAdoptList",
            method: "POST",
            data: {},
            success: function (data) {
                $('#adopt_waiting').html('');

                var waitDropdown = "<div class='dropdown-menu dropdown-menu-left'>" +
                    "<a class='dropdown-item waitUserSchedule'>봉사기록확인</a>" +
                    "<a class='dropdown-item'>채팅</a>"

                $.each(data.adopt, function (idx, adopt) {
                    $('#adopt_waiting').append(
                        "<tr><th>" + adopt.idx + "</th><td>" + adopt.name + "</td><td>" + formatDate(adopt.datetime, DATE) +
                        "</td><td><a href='#' class='dropdown' id='waitingItem' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>" +
                        adopt.user_name + "</a>" + waitDropdown + "<span style='display: none;'>" + adopt.user_idx + "</span></td></td><td>" + adopt.phone_number + "</td><td>" + adopt.user_email +
                        "</td><td><button class='btn btn-info btn-sm info-button'>신청서 보기</button></a></td><td>" +
                        "<button class='permit-button btn btn-default btn' style='color:green;'><i class='fa fa-check' style='font-size:20px'></i></button>" +
                        "<button class='reject-button btn btn-default btn' style='color:red;'><i class='fa fa-remove' style='font-size:20px'></i></button>" +
                        "</td>"
                    )
                });

                var dataTable = $('#adopt_waitTable').DataTable(
                    {
                        "searching": true,
                        "language": {
                            "lengthMenu": "_MENU_개씩 보기",
                            "zeroRecords": "Nothing found - sorry",
                            "info": " _PAGES_ 페이지 중 _PAGE_ 페이지",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)"
                        }
                    }
                );

                $('#adopt_search').on('keyup', function () {
                    dataTable.search(this.value).draw();
                });
            }
        });
    }
    $(document).ready(function () {
        getAdoptList();
    });

    function getPermitAdoptList() {
        //table 표시
        $.ajax({
            url: "/erp/adopt/json/getPermitAdoptList",
            method: "POST",
            data: {},
            success: function (data) {
                $('#adopt_permit').html('');

                var permitDropdown = "<div class='dropdown-menu dropdown-menu-left'>" +
                    "<a class='dropdown-item permitUserSchedule'>봉사기록확인</a>" +
                    "<a class='dropdown-item'>채팅</a>"

                $.each(data.adopt, function (idx, adopt) {
                    console.log(data.adopt)
                    $('#adopt_permit').append(
                        "<tr><th>" + adopt.idx + "</th><td>" + adopt.name + "</td><td>" + formatDate(adopt.datetime, DATE) + "</td><td>" +
                        "<a href='#' class='dropdown' id='permitedItem' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>" +
                        adopt.user_name + "</a>" + permitDropdown + "<span style='display: none;'>" + adopt.user_idx + "</span></td>" + "</td><td>" + adopt.phone_number + "</td><td>" + adopt.user_email +
                        "</td><td><button class='btn btn-info btn-sm info-button'>신청서 보기</button></td></tr>"
                    )
                });

                var dataTable = $('#adopt_permitTable').DataTable(
                    {
                        "searching": true,
                        "language": {
                            "lengthMenu": "_MENU_개씩 보기",
                            "zeroRecords": "Nothing found - sorry",
                            "info": " _PAGES_ 페이지 중 _PAGE_ 페이지",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)"
                        }
                    }
                );

                $('#adopt_search').on('keyup', function () {
                    dataTable.search(this.value).draw();
                });
            }
        });
    }
    $(document).ready(function () {
        getPermitAdoptList();
    });

    function permitAdopt(idx) {
        $.ajax({
            url: "/erp/adopt/action/permitAdopt",
            method: "POST",
            data: { idx: idx },
            success: function (data) {
                window.location.href = "/erp/adopt/adopt";
                alert("승인 되었습니다.");
            }
        })
    }
    $(document).on('click', '.permit-button', function (e) {
        var idx = $(this).closest('tr').find('th').html();
        permitAdopt(idx);
    });

    function rejectAdopt(idx) {
        $.ajax({
            url: "/erp/adopt/action/rejectAdopt",
            method: "POST",
            data: { idx: idx },
            success: function (data) {
                alert("거절 되었습니다.");
            }
        })
    }
    $(document).on('click', '.reject-button', function (e) {
        var idx = $(this).closest('tr').find('th').html();
        rejectAdopt(idx);
    });

    function openWindow(idx) {
        window.open("/adoptDetail/adoptDetail/?idx=" + idx,
            "입양신청서", "width=800, height=700, toolbar=no, menubar=no, scrollbars=no, resizable=yes")
    }

    $(document).on('click', '.info-button', function (e) {
        var idx = $(this).closest('tr').find('th').html();
        openWindow(idx);
    })

    window.alert = function () { };
    function getUserScheduleList(user_idx) {
        $.ajax({
            url: "/erp/user/json/getUserScheduleList",
            method: "POST",
            data: { idx: user_idx }, // user idx
            success: function (data) {
                $('#userScheduleTableContent').html('');
                $.each(data.schedule, function (idx, schedule) {
                    $('#userScheduleTableContent').append(
                        "<tr><th>" + schedule.idx + "</th><td>" + formatDate(schedule.date, DATE) + "</td><td>" +
                        schedule.animalName + "</td>"
                    )
                });

                var dataTable = $('#userScheduleTable').DataTable(
                    {
                        "searching": true,
                        "language": {
                            "lengthMenu": "_MENU_개씩 보기",
                            "zeroRecords": "Nothing found - sorry",
                            "info": " _PAGES_ 페이지 중 _PAGE_ 페이지",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)"
                        }
                    }
                );
                $('#userScheduleSearch').on('keyup', function () {
                    dataTable.search(this.value).draw();
                });
                $("#userScheduleModal").modal("show");
            }
        })
    }
    $(document).on('click', '.waitUserSchedule', function (e) {
        var idx = $(this).closest('tr').find('span').html();
        console.log($(this));
        console.log("user : " + idx);
        getUserScheduleList(idx);
    });

        $(document).on('click', '.permitUserSchedule', function (e) {
        var idx = $(this).closest('tr').find('span').html();
        console.log($(this));
        console.log("user : " + idx);
        getUserScheduleList(idx);
    });

</script>

<% include ./../modal/userScheduleList.ejs%>