<div>
  header
</div>
<div class="ui segment" style="width:72%;margin:auto; margin-right: 140px; padding-top:20px">
  <table class="table table-bordered">
    <thead class="thead-dark text-center">
      <tr>
        <th scope="col">idx</th>
        <th scope="col">name</th>
        <th scope="col">species_code</th>
        <th scope="col">register_data</th>
        <th scope="col">state</th>
        <th scope="col" style="width: 10%;"></th>
      </tr>
    </thead>
    <tbody id="tableList">
    </tbody>
  </table>
  <ul class="pagination pull-right" id="pageNum">
  </ul>
</div>

<hr/>




<div class="text-center" style="margin-top: 40px; margin-left: 350px">
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#animal_register">
    유기견 등록
  </button>
</div>

<script>
  function fetchAnimalList(page) {
    $.ajax({
      url: "/erp/animal/json/getAnimalList",
      method: "POST",
      data: { page: page },
      success: function (data) {
        $('#tableList').html('');
        $.each(data.list, function (idx, list) {
          $('#tableList').append("<tr><th>" + list.idx + "</th><td>" + list.name + "</th><td>" + list.species_code + "</td><td>" +
            list.register_data + "</td><td>" + list.state +
            "</td><td><button class='btn btn-default btn edit-animal' style='color:green;' onclick='getAnimalInfo()'>" +
            "<span class='glyphicon glyphicon-edit'></span></button>" +
            "<button class='btn btn-default btn' style='color:red;'><span class='glyphicon glyphicon-trash'></span></button></td>"
          )
        })
      }
    })
  }
  $(document).ready(function () {
    fetchAnimalList(1);
  });
</script>

<script>

  var selectedAnimal;

  function getAnimalInfo(idx) {
    $.ajax({
      url: "/erp/animal/json/getAnimal",
      method: "POST",
      data: { animal_idx: idx },
      success: function (data) {
        selectedAnimal = data.animal.idx;
        $("#animalName").val(data.animal.name);
        $("#animalCode").val(data.animal.species_code);
        $("#animalState").val(data.animal.state);
        $("#animalWeight").val(data.animal.weight);
        $("#animalImg").attr('src', "/" + data.animal.url_picture);
        $("#animalDesc").val(data.animal.description);

        if (data.animal.sex = 'w') {
          $('#female').prop("checked", true)
        }
        else {
          $('#male').prop("checked", true)
        }
        $("#animal_edit").modal("show")
      }
    })
  }

  $(document).on('click', '.edit-animal', function (e) {
    var idx = $(this).closest('tr').find('th').html();
    getAnimalInfo(idx);
  });

</script>

<script>
  function fetchAnimalListPage() {
    $.ajax({
      url: "/erp/animal/json/getAnimalListPage",
      method: "POST",
      data: {},
      success: function (data) {
        for (count = 1; count <= data.totalPage; count++) {
          $('#pageNum').append("<li><a class='page-button'>" + count + "</a></li>"
          )
        }
      }
    })
  }

  $(document).ready(function () {
    var count;
    fetchAnimalListPage();
  });

  $(document).on('click', '.page-button', function (e) {
    fetchAnimalList(this.innerHTML);
  });

</script>

<% include ./../layout/modalRegisterAnimal.ejs %>
  <% include ./../layout/modalEditAnimal.ejs %>