animal page
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#animal_register">
    유기견 등록
</button>
<% include ./../layout/modalRegisterAnimal.ejs %>
