<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
      유기견 리스트
    </a>
    <a href="#" class="list-group-item list-group-item-action">푸들</a>
    <a href="#" class="list-group-item list-group-item-action">댕댕이</a>
    <a href="#" class="list-group-item list-group-item-action">누렁이</a>
    <a href="#" class="list-group-item list-group-item-action disabled">백구</a>
  </div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#animal_register">
    유기견 등록
</button>
<% include ./../layout/modalRegisterAnimal.ejs %>
