<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">유기동물 정보 관리</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">유기동물 정보 관리</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3 p-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">검색</span>
                        </div>
                        <input type="text" class="form-control" placeholder="search..." aria-label="Username"
                            aria-describedby="basic-addon1" id="animal_search">
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="example1" class="table table-bordered table-hover display">
                    <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">유기견명</th>
                            <th scope="col">견종</th>
                            <th scope="col">등록시간</th>
                            <th scope="col">상태</th>
                            <th scope="col" style="width: 8%;">승인여부</th>
                        </tr>
                    </thead>
                    <tbody id="tableList">

                    </tbody>
                </table>
            </div>
        </div>


        <!-- end card-->
    </div>
</div>


<div class="text-center">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#animal_register">
        유기견 등록
    </button>
</div>

<script>
    function fetchAnimalList() {
        $.ajax({
            url: "/erp/animal/json/getAnimalList",
            method: "POST",
            data: {},
            success: function (data) {
                $('#tableList').html('');
                $.each(data.list, function (idx, list) {
                    $('#tableList').append("<tr><th>" + list.idx + "</th><td>" + list.name + "</th><td>" + list.species_code + "</td><td>" +
                        formatDate(list.register_data, DATE) + "</td><td>" + list.state +
                        "</td><td><button class='btn btn-default btn edit-animal'>" +
                        "<i class='fa fa-edit' style='font-size:24px; color:green'></i></button>" +
                        "<button class='btn btn-default btn'><i class='fa fa-trash' style='font-size:24px; color:red'></i></button></td>"
                    )
                });

                var dataTable = $('#example1').DataTable(
                    {
                        "searching": true,
                        "language": {
                            "lengthMenu": "_MENU_개씩 보기",
                            "zeroRecords": "Nothing found - sorry",
                            "info": " _PAGES_ 페이지 중 _PAGE_ 페이지",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)"
                        }
                    }
                );

                $('#animal_search').on('keyup', function () {
                    dataTable.search(this.value).draw();
                });
            }
        })
    }
    $(document).ready(function () {
        fetchAnimalList();
    });
</script>

<script>

    var selectedAnimal;

    function getAnimalInfo(idx) {
        $.ajax({
            url: "/erp/animal/json/getAnimal",
            method: "POST",
            data: { animal_idx: idx },
            success: function (data) {
                selectedAnimal = data.animal.idx;
                $("#animalName").val(data.animal.name);
                $("#animalCode").val(data.animal.species_code);
                $("#animalState").val(data.animal.state);
                $("#animalWeight").val(data.animal.weight);
                $("#animalImg").attr('src', "/" + data.animal.url_picture);
                $("#animalDesc").val(data.animal.description);
                $('#edit_animal_discovered_spot').val(data.animal.discovered_spot)
                $('#edit_animal_latitude').val(data.animal.discovered_spot_latitude)
                $('#edit_animal_longitude').val(data.animal.discovered_spot_longitude)


                if (data.animal.sex = 'w') {
                    $('#female').prop("checked", true)

                }
                else {
                    $('#male').prop("checked", true)
                }
                $("#animal_edit").modal("show")
            }
        })
    }

    $(document).on('click', '.edit-animal', function (e) {
        var idx = $(this).closest('tr').find('th').html();
        getAnimalInfo(idx);
    });

</script>

<script>
    function fetchAnimalListPage() {
        $.ajax({
            url: "/erp/animal/json/getAnimalListPage",
            method: "POST",
            data: {},
            success: function (data) {
                for (count = 1; count <= data.totalPage; count++) {
                    $('#pageNum').append("<li class='page-item'><a class='page-button page-link'>" + count + "</a></li>"
                    )
                }
            }
        })
    }

    $(document).ready(function () {
        var count;
        fetchAnimalListPage();
    });

    $(document).on('click', '.page-button', function (e) {
        fetchAnimalList(this.innerHTML);
    });

</script>

<% include ./../layout/modalRegisterAnimal.ejs %>
<% include ./../layout/modalEditAnimal.ejs %>
<% include ./../modal/searchAddressByMap.ejs %>
<% include ./../modal/animalScheduleModal.ejs %>
