<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">발견했어요 요청</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">발견했어요 요청</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-wait-tab" data-toggle="tab" href="#discover_request_waitList" role="tab" aria-controls="nav-wait"
            aria-selected="true">발견했어요 요청 대기</a>
        <a class="nav-item nav-link" id="nav-permit-tab" data-toggle="tab" href="#discover_request_permittedList" role="tab" aria-controls="nav-permit"
            aria-selected="false">발견했어요 요청 기록</a>
    </div>
</nav>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3 p-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">검색</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" id="discovery_search">
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="discover_request_waitList" style="margin-top:20px">
                        <table id="requestWaitTable" class="table table-bordered table-hover display">
                            <thead>
                                <tr>
                                    <th scope="col">idx</th>
                                    <th scope="col">발견장소</th>
                                    <th scope="col">발견시간</th>
                                    <th scope="col">요청시간</th>
                                    <th scope="col">유기동물 종</th>
                                    <th scope="col">상세정보</th>
                                    <th scope="col" style="width: 10%;">승인여부</th>
                                </tr>
                            </thead>
                            <tbody id="discover_request_waiting">
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="discover_request_permittedList" style="margin-top:20px">
                        <table id="requestRecordTabe" class="table table-bordered table-hover display">
                            <thead>
                                <tr>
                                    <th scope="col">idx</th>
                                    <th scope="col">발견장소</th>
                                    <th scope="col">발견시간</th>
                                    <th scope="col">요청시간</th>
                                    <th scope="col">유기동물 종</th>
                                    <th scope="col">상세정보</th>
                                    <th scope="col" style="width: 10%;">승인여부</th>
                                </tr>
                            </thead>
                            <tbody id="discover_request_record">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7a116decd0d85fb13328c9f516f7baaa"></script>
<script>
    getDiscoverRequestWaiting();
    getDiscoverRequestRecord();
    function getDiscoverRequestWaiting() {
        $.ajax({
            url: "/erp/discover/json/getDiscoverRequestWaiting",
            method: "POST",
            data: {},
            success: function (data) {
                $('#discover_request_waiting').html('');
                $.each(data.list, function (idx, list) {
                    var tr;
                    if (list.read_state == 0)
                        tr = "<tr class='new'>"
                    else
                        tr = "<tr>"
                    $('#discover_request_waiting').append(
                        tr + "<th>" + list.idx + "</th><td>" +
                        list.discovered_spot + "</th><td>" +
                        list.discover_datetime + "</td><td>" +
                        list.requestDateTime + "</td><td>" + list.species_code +
                        "</td><td><button class='btn btn-info info-button'>상세정보보기</button></td><td>" +
                        "<button class='permit-button btn btn-default btn' style='color:green;'><i class='fa fa-check' style='font-size:24px'></i></button>" +
                        "<button class='reject-button btn btn-default btn' style='color:red;'><i class='fa fa-remove' style='font-size:24px'></i></button></td>"
                    );
                })
                var dataTable = $('#requestWaitTable').DataTable(
                    {
                        "searching": true,
                        "language": {
                            "lengthMenu": "_MENU_개씩 보기",
                            "zeroRecords": "Nothing found - sorry",
                            "info": " _PAGES_ 페이지 중 _PAGE_ 페이지",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)"
                        }
                    }
                );

                $('#discovery_search').on('keyup', function () {
                    dataTable.search(this.value).draw();
                });
            }
        })
    }

    function getDiscoverRequestRecord() {
        $.ajax({
            url: "/erp/discover/json/getDiscoverRequestRecord",
            method: "POST",
            data: {},
            success: function (data) {
                $('#discover_request_record').html('');
                $.each(data.list, function (idx, list) {
                    $('#discover_request_record').append(
                        "<tr><th>" + list.idx + "</th><td>" +
                        list.discovered_spot + "</th><td>" +
                        list.discover_datetime + "</td><td>" +
                        list.requestDateTime + "</td>" +
                        "<td><button class='btn btn-info info-button'>상세정보보기</button></td>" +
                        "<td>" + list.species_code +
                        "</td><td>" + (list.permit == "1" ? "허가" : "거부") + "</td>"
                    );
                })
                setTimeout(function () {
                    $('#requestRecordTabe').DataTable();
                }, 100)
            }
        })
    }

    function permitDiscoverRequest(_idx) {
        $.ajax({
            url: "/erp/discover/action/permitDiscoverRequest",
            method: "POST",
            data: { idx: _idx },
            success: function (data) {
                location.reload();
            }
        });
    }

    function rejectDiscoverRequest(_idx) {
        $.ajax({
            url: "/erp/discover/action/rejectDiscoverRequest",
            method: "POST",
            data: { idx: _idx },
            success: function (data) {
                location.reload();
            }
        })
    }

    $(document).on('click', '.permit-button', function (e) {
        console.log("TEST");
        var idx = $(this).closest('tr').find('th').html();
        permitDiscoverRequest(idx);
    });
    $(document).on('click', '.reject-button', function (e) {
        var idx = $(this).closest('tr').find('th').html();
        rejectDiscoverRequest(idx);
    });
    $(document).on('click', '.info-button', function (e) {
        var idx = $(this).closest('tr').find('th').html();
        getDiscoverInfo(idx);
    });

    function getDiscoverInfo(idx) {
        $.ajax({
            url: "/erp/discover/json/getDiscoverInfo",
            method: "POST",
            data: { idx: idx },
            success: function (data) {

                console.log(data);
                $('#discover_time').html(data.discover.discover_datetime);
                $('#discover_spot').html(data.discover.discovered_spot);
                $('#discover_request_time').html(data.discover.register_datetime);
                $('#discover_spieces').html(data.discover.species_code);
                $('#discover_descript').html(data.discover.description);
                $('#discover_image').html("");
                $('#discover_image').append(
                    '<img src="" id="discoverImg" width="200" height="160"/>' + "</td>"
                );
                $("#discoverImg").attr('src', "/" + data.discover.url_picture);
                $("#discoverInfo").modal("show")

                setTimeout(function () {
                    var container = document.getElementById('discover_map'); //지도를 담을 영역의 DOM 레퍼런스
                    var options = { //지도를 생성할 때 필요한 기본 옵션
                        //center: new daum.maps.LatLng(33.4507, 126.5706),
                        center: new daum.maps.LatLng(parseFloat(data.discover.latitude), parseFloat(data.discover.longitude)), //지도의 중심좌표.
                        level: 6 //지도의 레벨(확대, 축소 정도)
                    };
                    var markerPosition = new daum.maps.LatLng(parseFloat(data.discover.latitude), parseFloat(data.discover.longitude));

                    // 마커를 생성합니다
                    var marker = new daum.maps.Marker({
                        position: markerPosition
                    });

                    var map = new daum.maps.Map(container, options); //지도 생성 및 객체 리턴*/
                    marker.setMap(map);
                }, 500)


            }
        })
    }
</script>
<% include ./../layout/modalDiscoverInfo.ejs %>