<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">발견했어요 요청</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">발견했어요 요청</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs">
    <li class="active nav-item">
        <a class="nav-link" data-toggle="tab" href="#discover_request_waitList">발견했어요 요청 대기</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#discover_request_permittedList">발견했어요 요청 기록</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="discover_request_waitList" style="margin-top:20px">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">idx</th>
                    <th scope="col">발견장소</th>
                    <th scope="col">발견시간</th>
                    <th scope="col">요청시간</th>
                    <th scope="col">유기동물 종</th>
                    <th scope="col" style="width: 10%;">승인여부</th>
                </tr>

            </thead>
            <tbody id="discover_request_waiting">

            </tbody>
        </table>
    </div>
    <div class="ui segment tab-pane fade" id="discover_request_permittedList" style="margin-top:20px">
        <table class="table table-bordered">
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">idx</th>
                    <th scope="col">발견장소</th>
                    <th scope="col">발견시간</th>
                    <th scope="col">요청시간</th>
                    <th scope="col">유기동물 종</th>
                    <th scope="col" style="width: 10%;">승인여부</th>
                </tr>
            </thead>
            <tbody id="discover_request_record">
            </tbody>
        </table>
        <ul class="pagination pull-right" id="pageNum">
        </ul>
    </div>
</div>

<script>
    getDiscoverRequestWaiting();
    getDiscoverRequestRecord();
    function getDiscoverRequestWaiting() {
        $.ajax({
            url: "/erp/discover/json/getDiscoverRequestWaiting",
            method: "POST",
            data: {},
            success: function (data) {
                $('#discover_request_waiting').html('');
                $.each(data.list, function (idx, list) {
                    var tr;
                    if (list.read_state == 0)
                        tr = "<tr class='new'>"
                    else
                        tr = "<tr>"
                    $('#discover_request_waiting').append(
                        tr + "<th>" + list.idx + "</th><td>" +
                        list.discovered_spot + "</th><td>" +
                        list.discover_datetime + "</td><td>" +
                        list.requestDateTime + "</td><td>" + list.species_code +
                        "</td><td>" +
                        "<button class='permit-button btn btn-default btn' style='color:green;'><i class='fas fa-chevron-down' style='font-size:24px'></i></button>" +
                        "<button class='reject-button btn btn-default btn' style='color:red;'><i class='fas fa-ban' style='font-size:24px'></i></button></td>"
                    );
                })
            }
        })
    }

    function getDiscoverRequestRecord() {
        $.ajax({
            url: "/erp/discover/json/getDiscoverRequestRecord",
            method: "POST",
            data: {},
            success: function (data) {
                $('#discover_request_record').html('');
                $.each(data.list, function (idx, list) {
                    $('#discover_request_record').append(
                        "<tr><th>" + list.idx + "</th><td>" +
                        list.discovered_spot + "</th><td>" +
                        list.discover_datetime + "</td><td>" +
                        list.requestDateTime + "</td><td>" + list.species_code +
                        "</td><td>" + (list.permit == "1" ? "허가" : "거부") + "</td>"
                    );
                })
            }
        })
    }

    function permitDiscoverRequest(_idx) {
        $.ajax({
            url: "/erp/discover/action/permitDiscoverRequest",
            method: "POST",
            data: { idx: _idx },
            success: function (data) {
                location.reload();
            }
        });
    }

    function rejectDiscoverRequest(_idx) {
        $.ajax({
            url: "/erp/discover/action/rejectDiscoverRequest",
            method: "POST",
            data: { idx: _idx },
            success: function (data) {
                location.reload();
            }
        })
    }

    $(document).on('click', '.permit-button', function (e) {
        console.log("TEST");
        var idx = $(this).closest('tr').find('th').html();
        permitDiscoverRequest(idx);
    });
    $(document).on('click', '.reject-button', function (e) {
        var idx = $(this).closest('tr').find('th').html();
        rejectDiscoverRequest(idx);
    });
</script>