<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">메인</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">메인</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container" style="width: 32%; height: 150px;">
        <div class="row h-50">
            <div class="col" style="background: orange">
                유기견 현황
            </div>
        </div>
        <div class="row border h-50">
            <div class="col border-right">
                1 of 3
            </div>
            <div class="col border-right">
                2 of 3
            </div>
            <div class="col border-right">
                3 of 3
            </div>
        </div>
    </div>
    <div class="container" style="width: 32%; height: 150px;">
        <div class="row h-50">
            <div class="col" style="background: lightskyblue">
                봉사자 현황
            </div>
        </div>
        <div class="row border h-50">
            <div class="col border-right">
                1 of 3
            </div>
            <div class="col border-right">
                2 of 3
            </div>
            <div class="col border-right">
                3 of 3
            </div>
        </div>
    </div>
    <div class="container" style="width: 32%; height: 150px;">
        <div class="row h-50">
            <div class="col" style="background: lightgreen">
                입양신청자 현황
            </div>
        </div>
        <div class="row border h-50">
            <div class="col border-right">
                1 of 3
            </div>
            <div class="col border-right">
                2 of 3
            </div>
            <div class="col border-right">
                3 of 3
            </div>
        </div>

    </div>
</div>
