<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">메인</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">메인</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="jumbotron">
        <h3 class="display-6">보호소 관리페이지에 오신걸 환영합니다.</h3>
    </div>
</div>