<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">메인</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">메인</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container-volunteer col-xs-12 col-md-6 col-lg-6 col-xl-3" style="width: 32%; height: 144px;">
        <div class="row h-25">
            <div class="col" style="background: lightskyblue" id="volunteer_count">
                봉사자 현황
            </div>
        </div>
        <div class="row border-left border-right h-25">
            <!--
            <div class="col border-right">
                봉사신청
            </div>
            -->
            <div class="col border-right">
                누가 했냐
            </div>
            <div class="col">
                어떤 강아지
            </div>
        </div>
        <div class="row border h-50">
            <!--
            <div class="col border-right" id="volunteer_count">
                오늘의 봉사신청 수
            </div>
            -->
            <div class="col border-right" id="volunteer_user">
                누가 봉사신청 했냐
            </div>
            <div class="col" id="volunteer_animal">
                어떤 강아지가 봉사당하냐
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box noradius noborder bg-danger">
            <i class="fa fa-bell-o float-right text-white"></i>
            <h6 class="text-white text-uppercase m-b-20">오늘 들어온 신청</h6>
            <h1 class="m-b-20 text-white counter" id="alarmNumb"></h1>
            <span class="text-white" id="alarmNumbSub"></span>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> 월별 봉사 신청
        </div>

        <div class="card-body">
            <canvas id="barChart1"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated now</div>
    </div><!-- end card-->
</div>
<script>
    function getVolunteerCount() {
        $.ajax({
            url: "/erp/volunteer/json/getVolunteerToday",
            method: "POST",
            data: {},
            success: function (data) {
                $('#volunteer_count').html('봉사자 현황 : '+data.volunteer.count);
            }
        })
    }
    function getVolunteerName() {
        $.ajax({
            url: "/erp/volunteer/json/getVolunteerName",
            method: "POST",
            data: {},
            success: function (data) {
                $('#volunteer_animal').html('');
                $('#volunteer_user').html('');
                $.each(data.volunteer, function (idx, volunteer) {
                    $('#volunteer_animal').append(
                        "<li>" + volunteer.animalName + "</li>"
                    )
                    $('#volunteer_user').append(
                        "<li>" + volunteer.userName + "</li>"
                    )
                })
            }
        })
    }
    $(document).ready(function () {
        getVolunteerCount();
        getVolunteerName();
        getAlarmNumb();
        getScheduleDate();
    })
    function getAlarmNumb() {
        var total=0;
        $.ajax({
            url: "/erp/volunteer/json/getAlarmNumb",
            method: "POST",
            data: {},
            success: function (data) {
                total = data.count[0].count + data.count[1].count + data.count[2].count;
                $('#alarmNumb').html(total);
                $('#alarmNumbSub').html('봉사: '+data.count[0].count+' 발견: '+data.count[1].count +' 입양: '+data.count[2].count);
            }
        })
    }
</script>
<script>
    //barChart
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth()+1;
    var months = {1:"Jan", 2:"Feb", 3:"Mar", 4:"Apr", 5:"May", 6:"Jun", 7:"Jul", 8:"Aug", 9:"Sep", 10:"Oct", 11:"Nov", 12:"Dec"};
    var lable_data = [];
    var chart_data = [];
    function getScheduleDate() {
        $.ajax({
            url: "/erp/chart/json/getScheduleDate",
            method: "POST",
            data: {},
            success: function (data) {
                //console.log("data[0]: "+data.date[0].c);
                var j = 0;
                var tmp;
                var comp_date;
                for(var i=0 ; i<12; i++){
                    tmp = String((month-i+12)%12);
                    if(parseInt(tmp) === 0) tmp=String(12);
                    if(tmp.length === 1){
                        tmp = "0" + tmp;
                    }
                    comp_date = String(year)+'-'+tmp;
                    if(data.date[j] === undefined || data.date[j].m !== comp_date ){
                        lable_data.push(months[parseInt(tmp)]);
                        chart_data.push(0);
                    }else{
                        lable_data.push(months[parseInt(tmp)]);
                        chart_data.push(data.date[j].c);
                        j++;
                    }
                }
                lable_data.reverse();
                chart_data.reverse();

                var ctx1 = document.getElementById("barChart1").getContext('2d');
                var barChart = new Chart(ctx1, {
                    type: 'bar',
                    data: {
                        labels: lable_data,
                        //["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                        datasets: [{
                            label: 'Amount received',
                            data: chart_data, //[12, 19, 3, 5, 10, 5, 13, 17, 11, 8, 11, 9]
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            }
        })
    }
</script>
