<div>
    header
</div>
<div class="ui segment" style="width:72%; margin:auto; margin-right: 140px; padding-top:20px">
    <form id="form-shelter" name="form-shelter">
        <div class="form-group">
            <label for="exampleFormControlInput1">보호소 이름</label>
            <input type="text" class="form-control" id="shelterName" name="name" aria-label="name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">주소</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
            </div>
            <input type="text" class="form-control" id="shelterAddress" name="position" aria-label="address">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">전화번호</label>
            <input type="text" class="form-control" id="shelterPhoneNumber" name="phone_number" aria-label="number">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">시작 시간</label>
            <input type="text" class="form-control" id="shelterStartTime" name="start_time" aria-label="startTime">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">종료 시간</label>
            <input type="text" class="form-control" id="shelterEndTime" name="end_time" aria-label="endTime">
        </div>
        <label for="exampleFormControlInput1">보호소 사진</label>
        <div class="form-group">
            <img src="" id="shelterImage" width="250" height="200" />
            <input type="file" name="animalImage" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group">
            <label for="comment">보호소 설명:</label>
            <textarea class="form-control" id="shelterDescription" name="description" rows="4"></textarea>
        </div>

        <button type="button" class="btn btn-primary" onclick="completeUpdate()">완료</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>

    </form>
</div>
<hr />

<script>
    // function getShelterPage() {
    //     $.ajax({
    //         url: "http://localhost:3000/erp/mshelter/json/getShelter",
    //         method: "POST",
    //         data: null,
    //         success: function (data) {
    //             //console.log(data);
    //             $('#tableList').html('');
    //             $('#tableList').append("<tr><th>" + data.shelter.name + "</th><td>" + data.shelter.position + "</th><td>"
    //                 + data.shelter.phone_number + "</td><td>" +
    //                 data.shelter.start_time + "</td><td>" + data.shelter.end_time + "</td><td>" + data.shelter.description +
    //                 "</td><td><button class='btn btn-default btn edit-shelter' style='color:green;' onclick='getShelterInfo()'>" +
    //                 "<span class='glyphicon glyphicon-edit'></span></button>" +
    //                 "<button class='btn btn-default btn' style='color:red;'><span class='glyphicon glyphicon-trash'></span></button></td>"
    //             );
    //             //console.log(data.shelter.url_picture);
    //         }
    //     })
    // }
    $(document).ready(function () {
        getShelterInfo();
    });

    function getShelterInfo() {
        $.ajax({
            url: "http://localhost:3000/erp/mshelter/json/getShelter",
            method: "POST",
            data: null,
            success: function (data) {
                //console.log(data);
                $("#shelterName").val(data.shelter.name);
                $("#shelterAddress").val(data.shelter.position);
                $("#shelterPhoneNumber").val(data.shelter.phone_number);
                $("#shelterStartTime").val(data.shelter.start_time);
                $("#shelterEndTime").val(data.shelter.end_time);
                $("#shelterDescription").val(data.shelter.description);
                $("#shelterImage").attr('src', "/" + data.shelter.url_picture);
                //$("#shelter_edit").modal("show");
            }
        })
    }
    $(document).on('click', '.edit-shelter', function (e) {
        getShelterInfo();
    });
</script>

<% include ./../layout/modalEditShelter.ejs %>