<ul class="nav nav-tabs" style="padding-top: 10px">
    <li class="active">
        <a data-toggle="tab" href="#waitList">봉사대기자</a>
    </li>
    <li>
        <a data-toggle="tab" href="#permittedList">승인된 봉사자</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="waitList" style="width:77%;margin:auto; margin-right: 100px; padding-top:30px">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">idx</th>
                    <th scope="col">date</th>
                    <th scope="col">apply_datetime</th>
                    <th scope="col">read_state</th>
                    <th scope="col">animal_idx</th>
                    <th scope="col">animalName</th>
                    <th scope="col">species_code</th>
                    <th scope="col">userNickname</th>
                    <th scope="col">userPhoneNum</th>
                    <th scope="col">userEmail</th>
                    <th scope="col" style="width: 10%;">permission</th>
                </tr>

            </thead>
            <tbody id="waiting">
            </tbody>
        </table>
        <ul class="pagination pull-right" id="pageNum">
        </ul>
    </div>
    <div class="ui segment tab-pane fade" id="permittedList" style="width:77%;margin:auto; margin-right: 100px; padding-top:30px">
        <table class="table table-bordered">
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">idx</th>
                    <th scope="col">date</th>
                    <th scope="col">apply_datetime</th>
                    <th scope="col">animal_idx</th>
                    <th scope="col">animalName</th>
                    <th scope="col">species_code</th>
                    <th scope="col">userNickname</th>
                    <th scope="col">userPhoneNum</th>
                    <th scope="col">userEmail</th>
                </tr>
            </thead>
            <tbody id="permit">
            </tbody>
        </table>
        <ul class="pagination pull-right" id="pageNum">
        </ul>
    </div>
</div>


<script>
    function getScheduleListPermitted() {
        $.ajax({
            url: "/erp/volunteer/json/getScheduleListPermitted",
            method: "POST",
            data: {},
            success: function (data) {
               /* data = {
                    "result": 1,
                    "list": [
                        {
                            "idx": 1,
                            "date": "2019-04-29T00:00:00.000Z",
                            "apply_datetime": null,
                            "animal_idx": 60,
                            "animalName": "삐삐",
                            "species_code": 3,
                            "userNickName": "admin",
                            "userPhoneNumber": "01012345678",
                            "userEmail": "test@test.com"
                        },
                        {
                            "idx": 3,
                            "date": "2019-04-01T00:00:00.000Z",
                            "apply_datetime": null,
                            "animal_idx": 60,
                            "animalName": "삐삐",
                            "species_code": 3,
                            "userNickName": "admin",
                            "userPhoneNumber": "01012345678",
                            "userEmail": "test@test.com"
                        },
                        {
                            "idx": 4,
                            "date": "2019-05-16T00:00:00.000Z",
                            "apply_datetime": null,
                            "animal_idx": 60,
                            "animalName": "삐삐",
                            "species_code": 3,
                            "userNickName": "admin",
                            "userPhoneNumber": "01012345678",
                            "userEmail": "test@test.com"
                        },
                        {
                            "idx": 5,
                            "date": "2019-05-18T00:00:00.000Z",
                            "apply_datetime": null,
                            "animal_idx": 60,
                            "animalName": "삐삐",
                            "species_code": 3,
                            "userNickName": "admin",
                            "userPhoneNumber": "01012345678",
                            "userEmail": "test@test.com"
                        },
                        {
                            "idx": 6,
                            "date": "2019-05-04T00:00:00.000Z",
                            "apply_datetime": null,
                            "animal_idx": 60,
                            "animalName": "삐삐",
                            "species_code": 3,
                            "userNickName": "admin",
                            "userPhoneNumber": "01012345678",
                            "userEmail": "test@test.com"
                        },
                        {
                            "idx": 7,
                            "date": "2019-05-06T00:00:00.000Z",
                            "apply_datetime": null,
                            "animal_idx": 60,
                            "animalName": "삐삐",
                            "species_code": 3,
                            "userNickName": "admin",
                            "userPhoneNumber": "01012345678",
                            "userEmail": "test@test.com"
                        }
                    ]
                }*/
                console.log(data.list);
                $('#permit').html('');
                $.each(data.list, function (idx, list) {
                    $('#permit').append("<tr><th>" + list.idx + "</th><td>" + list.date + "</th><td>" + list.apply_datetime + "</td><td>" +
                        list.animal_idx + "</td><td>" + list.animalName + "</td><td>" + list.species_code + "</td><td>" + list.userNickName +
                        "</td><td>" + list.userPhoneNumber + "</td><td>" + list.userEmail + "</td>"
                    )
                })
            }
        })
    }
    $(document).ready(function () {
        getScheduleListPermitted();
    });

    function getScheduleListWaiting() {
        $.ajax({
            url: "/erp/volunteer/json/getScheduleListWaiting",
            method: "POST",
            data: {},
            success: function (data) {
              /*  data = {
                    "result": 1,
                    "list": [
                        {
                            "idx": 2,
                            "date": "2019-04-30T00:00:00.000Z",
                            "apply_datetime": null,
                            "read_state": 0,
                            "animal_idx": 60,
                            "animalName": "삐삐",
                            "species_code": 3,
                            "userNickName": "admin",
                            "userPhoneNumber": "01012345678",
                            "userEmail": "test@test.com"
                        }
                    ]
                }*/
                console.log(data.list);
                $('#waiting').html('');
                $.each(data.list, function (idx, list) {

                    var tr="";
                    if(list.read_state==0)
                        tr="<tr class='new'>"
                    else
                        tr="<tr>"
                        
                    
                    $('#waiting').append(tr+"<th>" + list.idx + "</th><td>" + list.date + "</th><td>" + list.apply_datetime + "</td><td>" +
                        list.read_state + "</td><td>" + list.animal_idx + "</td><td>" + list.animalName + "</td><td>" + list.species_code + "</td><td>" + list.userNickName +
                        "</td><td>" + list.userPhoneNumber + "</td><td>" + list.userEmail +
                        "</td><td><button class='permit-button btn btn-default btn' style='color:green;'><span class='glyphicon glyphicon-ok'></span></button>" +
                        "<button class='reject-button btn btn-default btn' style='color:red;'><span class='glyphicon glyphicon-remove'></span></button></td>"
                    )
                })
            }
        })
    }
    $(document).ready(function () {
        getScheduleListWaiting();
    });


    function permitSchedule(idx) {
        $.ajax({
            url: "/erp/volunteer/action/permitSchedule",
            method: "POST",
            data: { idx: idx },
            success: function (data) {
                alert("승인되었습니다.");
                window.location.href="/erp/volunteer/volunteer";
            }
        })
    }

    $(document).on('click', '.permit-button', function (e) {
        var idx = $(this).closest('tr').find('th').html();
        permitSchedule(idx);
    });

    function rejectSchedule(idx) {
        $.ajax({
            url: "/erp/volunteer/action/rejectSchedule",
            method: "POST",
            data: { idx: idx },
            success: function (data) {
                alert("거절되었습니다.");
                window.location.href="/erp/volunteer/volunteer";
            }
        })
    }

    $(document).on('click', '.reject-button', function (e) {
        var idx = $(this).closest('tr').find('th').html();
        rejectSchedule(idx);
    });
    cssLoader('/stylesheets/volunteer.css')
</script>