<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <% include ./commonHead.ejs %>


</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 border">
          <% include ./sideMenu.ejs %>
      </div>
      <div class="col-sm-10 border">
          <%- include(body) %>
      </div>
    </div>
    <div class="row">
        <% include ./footer.ejs %>
    </div>
  </div>


</body>

</html>