<div class="modal fade" id="animal_register" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="height: auto; height: 100%; padding-top: 350px" role="document">
        <div class="modal-content" style="height:auto;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">유기견 등록</h5>
            </div>
            <form action="/erp/animal/action/addAnimal" id="form1" name="form1" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">견명*</label>
                        <input type="text" class="form-control" name="name" aria-label="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">견종</label>
                        <input type="text" class="form-control" name="species_code" aria-label="species_code">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">무게</label>
                        <input type="text" class="form-control" name="weight" aria-label="weight">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">상태</label>
                        <input type="text" class="form-control" name="state" aria-label="state">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">유기견 사진</label>
                        <input type="file" name="animalImage" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <label for="exampleFormControlSelect1">성별</label>
                            <br>
                            <input type="radio" name="sex" value="m" /> 남
                            <input type="radio" name="sex" value="w" /> 여
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" name="description" rows="4"></textarea>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="to_ajax()">유기견 등록</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<script>
    function to_ajax() {
        var form = $('#form1')[0];
        var formData = new FormData(form);
        $.ajax({
            url: '/erp/animal/action/addAnimal',
            type: 'POST',
            enctype: 'multipart/form-data',
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
            }
        })
    }
</script>