<div class="modal fade" id="animal_register" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
    style="overflow-y: initial !important">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="overflow-y: initial !important;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">유기견 등록</h5>
            </div>
            <form action="/erp/animal/action/addAnimal" id="form1" name="form1" method="POST" enctype="multipart/form-data">
                <div class="modal-body" style="overflow-y: auto; height:500px;">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">견명*</label>
                        <input type="text" class="form-control" name="name" aria-label="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">견종</label>
                        <div class="input-group mb-3">
                            <input disabled type="text" class="form-control" id="animalSpecies" aria-label="species_code">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalSearchSpecies">
                                    <i class="fa fa-search" style="font-size:20px"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="species_code" name="species_code" type="text" style="display:none;">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">무게</label>
                        <input type="text" class="form-control" name="weight" aria-label="weight">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">상태</label>
                        <div class="form-group">
                            <select class="form-control" id="choiceState">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="state" name="state" type="text" style="display:none;">
                    </div>
                    <label for="registerAnimalImg">유기견 사진</label>
                    <div class="form-group">
                        <img src="" alt="Image" id="regAnimalImg" width="250" height="200" />
                        <input type="file" name="animalImage" class="form-control-file" id="registerAnimalImg">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">유기견 발견장소</label>
                        <div class="input-group mb-3">
                            <input id="register_animal_discovered_spot" type="text" name="discovered_spot" class="form-control" aria-label="Recipient's username"
                                aria-describedby="basic-addon2" readonly>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-dark" onclick="searchDiscoveredSpot('register_animal_')">위치 찾기
                                </button>
                            </div>
                        </div>
                        <input id="register_animal_latitude" type="text" name="discovered_spot_latitude" style="display: none;">
                        <input id="register_animal_longitude" type="text" name="discovered_spot_longitude" style="display: none;">
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <label for="exampleFormControlSelect1">성별</label>
                            <br>
                            <input type="radio" name="sex" value="m" /> 남
                            <input type="radio" name="sex" value="w" /> 여
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" name="description" rows="4"></textarea>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="to_ajax()">유기견 등록</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $("#registerAnimalImg").on('change', function () {
            readURL(this);
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $("#regAnimalImg").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script>
    function to_ajax() {
        var form = $('#form1')[0];
        var formData = new FormData(form);
        $.ajax({
            url: '/erp/animal/action/addAnimal',
            type: 'POST',
            enctype: 'multipart/form-data',
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                alert("정상적으로 등록이 되었습니다.");
                window.location.href = "/erp/animal/animal";
            }
        })
    }
</script>

<% include ./../modal/searchSpeciesModal.ejs %>