<div class="modal fade" id="shelter_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="height: auto; height: 100%;" role="document">
        <div class="modal-content" style="height:auto;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">보호소 정보 수정</h5>
            </div>
            <form id="form-shelter" name="form-shelter">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">보호소 이름</label>
                        <input type="text" class="form-control" id="shelterName" name="name" aria-label="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">주소</label>
                        <input type="text" class="form-control" id="shelterAddress" name="position" aria-label="address">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">전화번호</label>
                        <input type="text" class="form-control" id="shelterPhoneNumber" name="phone_number" aria-label="number">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">시작 시간</label>
                        <input type="text" class="form-control" id="shelterStartTime" name="start_time" aria-label="startTime">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">종료 시간</label>
                        <input type="text" class="form-control" id="shelterEndTime" name="end_time" aria-label="endTime">
                    </div>
                    <label for="exampleFormControlInput1">보호소 사진</label>
                    <div class="form-group">
                        <img src="" id="shelterImage" width="250" height="200" />
                        <input type="file" name="animalImage" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <div class="form-group">
                        <label for="comment">보호소 설명:</label>
                        <textarea class="form-control" id="shelterDescription" name="description" rows="4"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="completeUpdate()">완료</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function completeUpdate() {
        var form = $('#form-shelter')[0];
        var formData = new FormData(form);
        //console.log("form: "+JSON.parse(JSON.stringify(form)));
        //console.log("formData: "+ JSON.parse(JSON.stringify(formData)));
        $.ajax({
            url: 'http://localhost:3000/erp/mshelter/action/updateShelter',
            type: 'POST',
            enctype: 'multipart/form-data',
            data: formData ,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("success data: "+data);
                location.reload();
            }
        })
    }
</script>