<div class="modal fade" id="animal_register" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">유기견 등록</h5>
            </div>
            <form action="http://localhost:3000/erp/animal/action/addAnimal" id = "form1" name="form1" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">견명*</label>
                        <input type="text" class="form-control" name="name" aria-label="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">무게</label>
                        <input type="text" class="form-control" name="weight" aria-label="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">유기견 사진</label>
                        <input type="file" name="animalImage" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">성별</label>
                        <br>
                        <div class="btn-group" role="group" name="sex" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">남</button>
                            <button type="button" class="btn btn-secondary">여</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="to_ajax()">유기견 등록</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<script>
    function to_ajax(){
       var form = $('#form1')[0];
       var formData = new FormData(form);
       $.ajax({
           url: '/erp/animal/action/addAnimal',
           type: 'POST',
           enctype: 'multipart/form-data',
           data: formData,
           dataType: 'json',
           processData: false,
           contentType: false,
           success: function(data){
               console.log(data);
           }
       })
   }
</script>