<div class="modal fade" id="animal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="height: auto; height: 100%;" role="document">
        <div class="modal-content" style="height:auto;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">유기견 수정</h5>
            </div>
            <form id="form2" name="form2" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <label for="animal_img">유기견 사진</label>
                    <div class="form-group">
                        <img src="" id="animalImg" width="250" height="200" />
                        <input type="file" class="form-control-file" id="animal_img">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">견명*</label>
                        <input type="text" class="form-control" id="animalName" name="name" aria-label="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">견종</label>
                        <input type="text" class="form-control" id="animalCode" name="species_code" aria-label="species_code">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">무게</label>
                        <input type="text" class="form-control" id="animalWeight" name="weight" aria-label="weight">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">상태</label>
                        <input type="text" class="form-control" id="animalState" name="state" aria-label="state">
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <label for="exampleFormControlSelect1">성별</label>
                            <br>
                            <input type="radio" name="sex" id="male" value="m" /> 남
                            <input type="radio" name="sex" id="female" value="w" /> 여
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" id="animalDesc" name="description" rows="4"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary update-animal">완료</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(function() {
        $("#animal_img").on('change', function(){
            readURL(this);
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#animalImg').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function updateAnimal(idx) {
        var form = $('#form2')[0];
        var formData = new FormData(form);
        formData.append('animal_idx', idx);
        $.ajax({
            url: "/erp/animal/action/updateAnimal",
            method: "POST",
            enctype: 'multipart/form-data',
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                alert("정상적으로 수정되었습니다.");
                window.location.href = "/erp/animal/animal";
            }
        })
    }

    $(document).on('click', '.update-animal', function (e) {
        var idx = selectedAnimal;
        //console.log(idx);
        updateAnimal(idx);
    });

</script>