<!-- Modal -->
<div class="modal fade" id="animal_register" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">유기견 등록</h5>
            </div>
            <form id = "form1" name="form1" method="POST" >
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">견명*</label>
                        <input type="text" class="form-control" aria-label="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">무게</label>
                        <input type="text" class="form-control" aria-label="name">
                    </div>
                    <div class="form-group">
                            <label for="exampleFormControlInput1">견종*</label>
                            <input type="text" class="form-control" aria-label="name">
                        </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">유기견 사진</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">성별</label>
                        <br>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">남</button>
                            <button type="button" class="btn btn-secondary">여</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">상세정보</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="to_ajax()">유기견 등록</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<script>
    function to_ajax(){
        var queryString = jQuery("#form1").serialize();
        $.ajax({
            url: '/animal/action/addAnimal',
            type: 'POST',
            data: queryString,
            dataType: 'json',
            success: function(data){
                var jasonObj = JSON.parse(data);
            }
        })
    }
</script>