<!-- LOGO -->
<div class="headerbar-left">
    <a href="/" class="logo">
        <img alt="Logo" src="/images/logo3.png" style="width: 150%; height: 150%"/>
        <span>관리페이지</span>
    </a>
</div>

<nav class="navbar-custom">
    <ul class="list-inline float-right mb-0">
        <li class="list-inline-item notif" style="margin-right: 10px">
            <i class="fa fa-fw fa-envelope-o nav-link arrow-none open-chat"></i>
            <span id="chat_badge" class="notify-number"></span>
        </li>
        <!-- <li class="list-inline-item dropdown notif">
            <a class="nav-link dropdown-toggle arrow-none" id="new_header_btn_message" data-toggle="dropdown" href="#"
                role="button" aria-haspopup="false" aria-expanded="false">
                <div><i class="fa fa-fw fa-envelope-o"> </i>
                    <span class="notify-number">4</span></div>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg">
                <div class="dropdown-item noti-title">
                    <h5>
                        <small>
                            <span class="label label-danger pull-xs-right">12</span>Contact Messages</small>
                    </h5>
                </div>

                <a class="dropdown-item notify-item open-chat">
                    <p class="notify-details ml-0">
                        <b>짱돌님</b>
                        <span>새로운 메시지가 도착했습니다.</span>
                        <small class="text-muted">2 minutes ago</small>
                    </p>
                </a>
                <a href="#" class="dropdown-item notify-item notify-all">
                    View All
                </a>
            </div>
        </li> -->
    </ul>

    <ul class="list-inline menu-left mb-0">
        <li class="float-left">
            <button class="button-menu-mobile open-left" style="margin-top:10px; margin-left: 15px">
                <i class="fa fa-fw fa-bars"></i>
            </button>
        </li>
    </ul>

</nav>
<script>
    function openChat() {
        window.open("/erp/chat/chat",
            "채팅창", "width=800, height=500, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no")
    }

    function openChatWithUser(_idx) {
        window.open("/erp/chat/chat?user_idx=" + _idx,
            "채팅창", "width=800, height=500, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no")
    }
    $(document).on('click', '#new_header_btn_message', function () {
        console.log("hello");
    });
    $(document).on('click', '.open-chat', function (e) {
        //var idx = $(this).closest('tr').find('th').html();
        openChat();
    })


</script>