<div class="sidebar-inner leftscroll">

    <div id="sidebar-menu">

        <ul>

            <li class="submenu">
                <a class="active" href="/erp/main/main"><i class="fa fa-fw fa-bars"></i><span> 메인 </span> </a>
            </li>

            <li class="submenu">
                <a href="/erp/animal/animal"><i class="fa fa-fw fa-paw"></i><span> 유기동물 정보 관리 </span> </a>
            </li>

            <li class="submenu">
                <a href="/erp/adopt/adopt"><i class="fa fa-fw fa-archive"></i> <span> 유기동물 입양신청 관리 </span> </a>
            </li>

            <li class="submenu">
                <a href="/erp/volunteer/volunteer"><i class="fa fa-fw fa-calendar-check-o"></i> <span> 봉사자 및 예약 관리
                    </span><span id="side_menu_badge" class="label radius-circle bg-danger float-right"></span> </a>
            </li>

            <li class="submenu">
                <a href="/erp/mshelter/mshelter"><i class="fa fa-fw fa-info-circle"></i> <span> 보호소 정보 관리 </span> </a>
            </li>

            <li class="submenu">
                <a href="/erp/discover"><i class="fa fa-fw fa-cc-discover"></i> <span> 발견했어요 요청 </span><span id="side_menu_discover_request_badge" class="label radius-circle bg-danger float-right"></span> </a>
            </li>


        </ul>

        <div class="clearfix"></div>

    </div>

    <div class="clearfix"></div>

</div>